# Development dependencies
pytest
pytest-md
pytest-emoji
hypothesis
pytest-cov
ruff>=0.4.8
mypy
types-requests
pre-commit

# Documentation dependencies
mkdocs>=1.6.1,<2
mkdocs-material[imaging]>=9.5.39,<10
pymdown-extensions>=10.11.2,<11
mkdocs-glightbox>=0.4.0,<0.5
mkdocs-open-in-new-tab>=1.0.5,<2

# Build dependencies
bumpversion>=0.6.0,<0.7
